@CHARSET "UTF-8";
#header{
	height: 70px;
	
}

#visual{
	height: 171px;
	background: #313131;
	border-top:3px solid #8CBA34;
}

#body{
	min-height:300px;
	border-top:5px solid #8CBA34;
	margin-top:1px;
}

#footer{
	height: 100px;
	background: #313131;
	
}

.content-container{
	width:960px;
	margin-left:auto; 
	margin-right:auto;
	height:inherit;
	
	opacity:0.5;	
}

#aside
{
	height: inherit;
	width : 205px;

	float : left;
}

#main
{
	position : relative;
	height : inherit;
	width : 755px;
	
	float : left;
	
}

.clearfix:after{
	content:"김수연";
	clear:both;
	display:block;
	height:0px; 
 	visibility:hidden;  
}

#test{
	width:200px;
	height:50px;
	position:absolute;
	left:-100px;
	/* bottom:0px; */
	top:100px;
	
	
}